{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <title>Chiyarastartup</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="icon" type="image/x-icon" href="{%static 'img/logo2.png'%}">

</head>

<body class="bg-gray-900 text-white flex flex-col  "  style = "height: 100vh;">

    {%include 'navbar.html'%}
    

    {%block content%}
    {%endblock content%}


    {%include 'footer.html'%}


  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

</body>

</html>
