{%load static%}
<nav class="flex flex-col items-center p-4 bg-gray-900 border-b-2 border-gray-700">
        
    <!-- Hamburger Menu for smaller screens -->
    

    <div class="flex items-center space-x-4">
        <!-- Social Icons -->
        <a href="#" target="_blank" class="text-xl"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank" class="text-xl"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank" class="text-xl"><i class="fab fa-instagram"></i></a>
    </div>

    <!-- Logo -->
    <a href="/"><img src="{%static 'img/logo2.png'%}"  alt="Logo" style="width: 150px" class="max-w-1/4 my-4"></a>

    <!-- Text below logo -->
    <p class="text-lg text-center">Unveiling The Tales Of Nepali Entrepreneurs, One Story At A Time.</p>

    <div class="flex items-center space-x-4 mt-4">
        <!-- More Social Icons -->
        <button id="menu" class="block    text-white focus:outline-none">
            <i class="fas fa-bars text-2xl"></i>
        </button>     
        <button id="close" class="block  hidden text-white focus:outline-none">
            <i class="fas  fa-times text-2xl"></i>
        </button>   
    </div>
    
</nav>


<div id="drawer_content" class="fixed hidden top-0 left-0 z-50 h-screen p-4 overflow-y-auto text-gray-100 bg-gray-900 w-64 md:w-72 lg:w-80">
    
    <button id="close1" type="button" data-drawer-hide="drawer-disable-body-scrolling" aria-controls="drawer-disable-body-scrolling" class="text-white hover:bg-gray-800 rounded-full p-2 absolute top-2.5 right-2.5">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
        <span class="sr-only">Close menu</span>
    </button>
    
    <div class="py-4 overflow-y-auto mt-5">

        <ul class="space-y-2 font-medium">
            <li>
                <a href="/" class="flex items-center p-3 rounded-lg hover:bg-gray-800 transition duration-300">
                    <span class="flex-shrink-0 w-5 h-5">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Home</span>
                </a>
            </li>
            
            <li>
                <a href="/aboutus/" class="flex items-center p-3 rounded-lg hover:bg-gray-800 transition duration-300">
                    <span class="flex-shrink-0 w-5 h-5">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">About Us</span>
                </a>
            </li>
        
            
            {%if request.user.is_authenticated%}
            <li>
                <a href="/logout/" class="flex items-center p-3 rounded-lg hover:bg-gray-800 transition duration-300">
                    <span class="flex-shrink-0 w-5 h-5">
                        <i class="fas fa-sign-in-alt"></i>
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Logout</span>
                </a>
            </li>
            {%else%}
            <li>
                <a href="/login/" class="flex items-center p-3 rounded-lg hover:bg-gray-800 transition duration-300">
                    <span class="flex-shrink-0 w-5 h-5">
                        <i class="fas fa-sign-in-alt"></i>
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Login</span>
                </a>
            </li>
            <li>
                <a href="/register/" class="flex items-center p-3 rounded-lg hover:bg-gray-800 transition duration-300">
                    <span class="flex-shrink-0 w-5 h-5">
                        <i class="fas fa-sign-in-alt"></i>
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Register</span>
                </a>
            </li>
            {%endif%}
        
            <!-- Add more items as needed -->
        </ul>   
        
        
    </div>
    
</div>
<script>
    document.getElementById('menu').addEventListener('click',()=>{ 
        document.getElementById('drawer_content').classList.remove('hidden')
        document.getElementById('menu').classList.add('hidden')
        document.getElementById('close').classList.remove('hidden')


    })
    document.getElementById('close').addEventListener('click',()=>{ 
        document.getElementById('drawer_content').classList.add('hidden')
        document.getElementById('close').classList.add('hidden')
        document.getElementById('menu').classList.remove('hidden')

    })
    document.getElementById('close1').addEventListener('click',()=>{ 
        document.getElementById('drawer_content').classList.add('hidden')
        document.getElementById('close').classList.add('hidden')
        document.getElementById('menu').classList.remove('hidden')

    })


  </script>